.gradient-text {
    display: inline-block;
    /* font-size: 30px; */
    background: linear-gradient(to bottom  right,  white 0%, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  