/* styles.css */
.header{
  border-bottom: 1px solid rgb(26, 25, 25);
}
.ant-menu-light{
  background-color: black;

}

.ant-menu{
background-color: rgb(0, 0, 0);
}
.ant-menu-title-content{
  color: white;
}

.ant-menu-item-selected::after {
  border-bottom-color: gray !important; 
}

.animation::after {
  content: ''; 
  display: block; 
  height: 2px;
  width: 10px;
  background-color: transparent;
  transition: width 2s ease;
}
.animation:hover::after{
  width: 40px;
  border-bottom-color:transparent !important;
  background-color: gray;
}




 .main{
  background-color: #000000;
 }
.second{
  /* background: linear-gradient(60deg,black, black ,rgb(41, 41, 41) ); */
}




