/* hover animation on nav item  */
.nav-item {
    position: relative;
 
  }
  
  .nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    right: 50%;
    background-color: #69b6fa;
    transition: width 0.3s, right 0.3s;
  }
  
  .nav-item:hover::after {
    width: 100%;
    right: 0;
  }
  
/* 
  .MuiMenu-paper{
    padding-top: 0px;padding-bottom: 0s;
    background: blue;

  } */



  /* .custom-menu-item {
    padding: 0; 
  }
   */
  